body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}

.container button {
    background: linear-gradient(135deg, #39a050, #11b824);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    padding: 8px 16px;
    margin: 0 8px;
}

.container input {
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  padding: 5px 0;
  font-size: 16px;
  background: transparent;
}