* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-wrapper {
  position: relative;
  display: inline-block;
}

#mapImage {
  width: 300px;
  height: auto;
  display: block;
}

#toggleBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 6px 12px;
  background: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
